/*
--- 01 Typography:

FONT SIZE SYSTEM (px)
px:  |  10   |   12   |  14   | 16 |   18   |  20   |  24 |  30   |
rem: | 0.625 |	0.75	| 0.875 |	 1 |	1.125 |	1.25	| 1.5	| 1.875 |

px:  |   36  |   44   |  52   |  62   |   74  |  86   |  98   |
rem: |	2.25 |	2.75	| 3.25	| 3.875 |	4.625 |	5.375 |	6.125 |

Font weights: default: 400

Line heights: default: 1

--- 02 Colors:
--main: #e67e22;
--main-shade10: #cf711f;
--main-tint10: #e98b38;
--main-tint80: #fae5d3;
--main-tint90: #fdf2e9;
--grey777: #777;
--grey555: #555;
--grey333: #333;
--grey-ddd: #ddd;

--- 03 Spacing system:

SPACING SYSTEM (px)
px:  |   2	 |   4	 |   8  |  12  | 16 |
rem: | 0.125 |	0.25 |	0.5 | 0.75 |  1 |

px:  |  24  | 32  | 48 | 64 | 80 | 96 | 128 |
rem: |  1.5 |  2  |  3 |  4 |  5 |  6 |  8  |


*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --main-color: #e67e22;
  --main-tint80: #fae5d3;
  --main-tint90: #fdf2e9;
  --main-shade10: #cf711f;
  --white: #fff;
  --grey777: #777;
  --grey555: #555;
  --grey333: #333;
  --grey-ddd: #ddd;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--grey555);
}

/* *************************** */
/* General Components */
/* *************************** */

.container {
  max-width: 75rem; /*1200px*/
  margin: 0 auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
  row-gap: 6rem;
  column-gap: 4rem;
}

.grid--center-vert {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--grey333);
}

.heading-primary {
  font-size: 3.25rem;
  line-height: 1.05;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 2.75rem;
  line-height: 1.2;
  margin-bottom: 6rem;
}

.heading-tertiary {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--main-shade10);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
}

/* LoVeHAte */
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  /* Add transition to original state: */
  /* transition: all 1s; */
  transition: background-color 0.2s;
}

.btn--cta:link,
.btn--cta:visited {
  background-color: var(--main-color);
  color: var(--white);
}

.btn--cta:hover,
.btn--cta:active {
  background-color: var(--main-shade10);
  color: var(--white);
}

.btn--secondary:link,
.btn--secondary:visited {
  background-color: var(--white);
  color: var(--grey555);
}

.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--main-tint90);
  color: var(--grey555);
  /* Trick to add border inside, not afect item around while hovering: */
  box-shadow: inset 0 0 0 3px var(--white);
}

.margin-right-sm {
  margin-right: 1rem !important;
}

/* *************************** */
/* Header */
/* *************************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-tint90);
  height: 6rem;
  padding: 0 3rem;
}

.logo {
  height: 1.3rem;
}

/* *************************** */
/* Navigation */
/* *************************** */

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--grey333);
  transition: all 0.2s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--main-shade10);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--main-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--main-shade10);
}

/* *************************** */
/* Hero section */
/* *************************** */

.hero {
  background-color: var(--main-tint90);
  padding: 3rem 0 6rem 0;
}

.hero-container {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.hero-img {
  width: 100%;
}

.delivered {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid var(--main-tint90);
}

.delivered-img:last-of-type {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.125rem;
  font-weight: 500;
}

.delivered-text strong {
  color: var(--main-shade10);
}

/* *************************** */
/* Featured in section */
/* *************************** */

.section-featured {
  padding: 3rem 0;
}

.heading-featured-in {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--grey777);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 0.6;
}

/* *************************** */
/* How it works section */
/* *************************** */

.section-how {
  padding: 6rem 0;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: '';
  display: block;
  /* center it: */
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; doesn't work so,*/
  /* we use padding: */
  padding-bottom: 60%;
  background-color: var(--main-tint90);
  z-index: -2;
}

.step-img-box::after {
  width: 48%;
  /* height: 60%; doesn't work so,*/
  /* we use padding: */
  padding-bottom: 48%;
  background-color: var(--main-tint80);
  z-index: -1;
}

.step-img {
  width: 35%;
}

.step-text-box {
}

.step-number {
  font-size: 5.375rem;
  font-weight: 600;
  color: var(--grey-ddd);
  margin-bottom: 0.75rem;
}

.step-description {
  font-size: 1.125rem;
  line-height: 1.6;
}

/* *************************** */
/* Meals section */
/* *************************** */

.section-meals {
  padding: 6rem 0;
}

.meal-title {
  font-size: 1.5rem;
  color: var(--grey333);
  font-weight: 600;
  margin-bottom: 2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.meal-attribute {
  font-size: 1.125rem;
}

.meal-img {
  width: 100%;
}
